# Targets / Proteins

## Features

In [12]:
from propythia.protein.sequence import ReadSequence
from propythia.protein.descriptors import ProteinDescritors
from propythia.protein.encoding import Encoding
import pandas as pd
import numpy as np

In [3]:
df_binarized = pd.read_csv('KIBA_binarized.csv')
df_binarized = df_binarized['Target'].to_frame()
df_binarized

                                                   Target
0       MTVKTEAAKGTLTYSRMRGMVAILIAFMKQRRMGLNDFIQKIANNS...
1       MSWSPSLTTQTCGAWEMKERLGTGGFGNVIRWHNQETGEQIAIKQC...
2       MERPPGLRPGAGGPWEMRERLGTGGFGNVCLYQHRELDLKIAIKSC...
3       MRPSGTAGAALLALLAALCPASRALEEKKVCQGTSNKLTQLGTFED...
4       MELAALCRWGLLLALLPPGAASTQVCTGTDMKLRLPASPETHLDML...
...                                                   ...
117652  MATTVTCTRFTDEYQLYEDIGKGAFSVVRRCVKLCTGHEYAAKIIN...
117653  MATTATCTRFTDDYQLFEELGKGAFSVVRRCVKKTSTQEYAAKIIN...
117654  MASTTTCTRFTDEYQLFEELGKGAFSVVRRCMKIPTGQEYAAKIIN...
117655  MSQERPTFYRQELNKTIWEVPERYQNLSPVGSGAYGSVCAAFDTKT...
117656  MATITCTRFTEEYQLFEELGKGAFSVVRRCVKVLAGQEYAAKIINT...

[117657 rows x 1 columns]

Generate descriptors for the proteins

In [4]:
read_seqs = ReadSequence()
res = read_seqs.par_preprocessing(dataset= df_binarized, col = 'Target', B ='N', Z = 'Q', U = 'C', O = 'K', J = 'I', X = '')
res

                                                   Target
0       MTVKTEAAKGTLTYSRMRGMVAILIAFMKQRRMGLNDFIQKIANNS...
1       MSWSPSLTTQTCGAWEMKERLGTGGFGNVIRWHNQETGEQIAIKQC...
2       MERPPGLRPGAGGPWEMRERLGTGGFGNVCLYQHRELDLKIAIKSC...
3       MRPSGTAGAALLALLAALCPASRALEEKKVCQGTSNKLTQLGTFED...
4       MELAALCRWGLLLALLPPGAASTQVCTGTDMKLRLPASPETHLDML...
...                                                   ...
117652  MATTVTCTRFTDEYQLYEDIGKGAFSVVRRCVKLCTGHEYAAKIIN...
117653  MATTATCTRFTDDYQLFEELGKGAFSVVRRCVKKTSTQEYAAKIIN...
117654  MASTTTCTRFTDEYQLFEELGKGAFSVVRRCMKIPTGQEYAAKIIN...
117655  MSQERPTFYRQELNKTIWEVPERYQNLSPVGSGAYGSVCAAFDTKT...
117656  MATITCTRFTEEYQLFEELGKGAFSVVRRCVKVLAGQEYAAKIINT...

[117657 rows x 1 columns]

In [22]:
protein_descriptors = ProteinDescritors(dataset= res,  col= 'Target')
protein_descriptors.dataset

                                                  Target
0      MTVKTEAAKGTLTYSRMRGMVAILIAFMKQRRMGLNDFIQKIANNS...
1      MSWSPSLTTQTCGAWEMKERLGTGGFGNVIRWHNQETGEQIAIKQC...
2      MERPPGLRPGAGGPWEMRERLGTGGFGNVCLYQHRELDLKIAIKSC...
3      MRPSGTAGAALLALLAALCPASRALEEKKVCQGTSNKLTQLGTFED...
4      MELAALCRWGLLLALLPPGAASTQVCTGTDMKLRLPASPETHLDML...
...                                                  ...
61719  MLGTGPAAATTAATTSSNVSVLQQFASGLKSRNEETRAKAAKELQH...
62155  MVSSQKLEKPIEMGSSEPLPIADGDRRRKKKRRGRATDSLPGKFED...
64142  MRHSKRTYCPDWDDKDWDYGKWRSSSSHKRRKRSHSSAQENKRCKY...
70258  MGDTVVEPAPLKPTSEPTSGPPGNNGGSLLSVITEGVGELSVIDPE...
72313  MASDAVQSEPRSWSLLEQLGLAGADLAAPGVQQQLELERERLRREI...

[229 rows x 1 columns]

In [ ]:
protein_descriptors.get_all()

In [ ]:
protein_descriptors.result

In [ ]:
protein_descriptors.result.to_csv('protein_descriptors.csv', index = False)

# Encoding

In [5]:
encode_df= Encoding(dataset= df_binarized ,  col= 'Target')
encode_df.result

                                                  Target
0      MTVKTEAAKGTLTYSRMRGMVAILIAFMKQRRMGLNDFIQKIANNS...
1      MSWSPSLTTQTCGAWEMKERLGTGGFGNVIRWHNQETGEQIAIKQC...
2      MERPPGLRPGAGGPWEMRERLGTGGFGNVCLYQHRELDLKIAIKSC...
3      MRPSGTAGAALLALLAALCPASRALEEKKVCQGTSNKLTQLGTFED...
4      MELAALCRWGLLLALLPPGAASTQVCTGTDMKLRLPASPETHLDML...
...                                                  ...
61719  MLGTGPAAATTAATTSSNVSVLQQFASGLKSRNEETRAKAAKELQH...
62155  MVSSQKLEKPIEMGSSEPLPIADGDRRRKKKRRGRATDSLPGKFED...
64142  MRHSKRTYCPDWDDKDWDYGKWRSSSSHKRRKRSHSSAQENKRCKY...
70258  MGDTVVEPAPLKPTSEPTSGPPGNNGGSLLSVITEGVGELSVIDPE...
72313  MASDAVQSEPRSWSLLEQLGLAGADLAAPGVQQQLELERERLRREI...

[229 rows x 1 columns]

One-Hot Encoding

In [6]:
hot_encoded = encode_df.get_hot_encoded()
print(hot_encoded['One_hot_encoding'][0].shape)
hot_encoded

2023-12-30 00:50:23.608345: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-12-30 00:50:23.608689: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-12-30 00:50:23.611596: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-12-30 00:50:23.664910: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-12-30 00:50:23.664994: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-12-30 00:50:23.667025: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-12-30 00:50:23.838104: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-12-30 00:50:23.838175: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-12-30 00:50:23.840980: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-12-30 00:50:23.880475: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-12-30 00:50:23.880574: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-12-30 00:50:23.883658: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-12-30 00:50:25.613841: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
2023-12-30 00:50:25.713654: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
2023-12-30 00:50:26.169933: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
2023-12-30 00:50:26.206361: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
/home/sa_bruno/anaconda3/envs/mestrado_final/lib/python3.9/site-packages/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(
2023-12-30 00:50:35.336875: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-12-30 00:50:35.336969: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-12-30 00:50:35.339970: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-12-30 00:50:36.589001: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-12-30 00:50:36.589079: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-12-30 00:50:36.592698: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-12-30 00:50:37.681314: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
2023-12-30 00:50:38.575232: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-12-30 00:50:38.575291: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-12-30 00:50:38.577865: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-12-30 00:50:39.074186: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
2023-12-30 00:50:39.571548: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-12-30 00:50:39.571638: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-12-30 00:50:39.574594: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-12-30 00:50:40.768581: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
2023-12-30 00:50:41.709061: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

(431, 21)

,Target,One_hot_encoding
0,MTVKTEAAKGTLTYSRMRGMVAILIAFMKQRRMGLNDFIQKIANNS...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
1,MSWSPSLTTQTCGAWEMKERLGTGGFGNVIRWHNQETGEQIAIKQC...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
2,MERPPGLRPGAGGPWEMRERLGTGGFGNVCLYQHRELDLKIAIKSC...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
3,MRPSGTAGAALLALLAALCPASRALEEKKVCQGTSNKLTQLGTFED...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
4,MELAALCRWGLLLALLPPGAASTQVCTGTDMKLRLPASPETHLDML...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
...,...,...
61719,MLGTGPAAATTAATTSSNVSVLQQFASGLKSRNEETRAKAAKELQH...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
62155,MVSSQKLEKPIEMGSSEPLPIADGDRRRKKKRRGRATDSLPGKFED...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
64142,MRHSKRTYCPDWDDKDWDYGKWRSSSSHKRRKRSHSSAQENKRCKY...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
70258,MGDTVVEPAPLKPTSEPTSGPPGNNGGSLLSVITEGVGELSVIDPE...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
72313,MASDAVQSEPRSWSLLEQLGLAGADLAAPGVQQQLELERERLRREI...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."

NLF Enconding -> Method that takes many physicochemical properties and transforms them using a Fisher Transform (similar to a PCA)
        creating a smaller set of features that can describe the amino acid just as well.
        There are 19 transformed features.

In [7]:
nlf = encode_df.get_nlf()
nlf

,Target,One_hot_encoding,nlf
0,MTVKTEAAKGTLTYSRMRGMVAILIAFMKQRRMGLNDFIQKIANNS...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0..."
1,MSWSPSLTTQTCGAWEMKERLGTGGFGNVIRWHNQETGEQIAIKQC...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0..."
2,MERPPGLRPGAGGPWEMRERLGTGGFGNVCLYQHRELDLKIAIKSC...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0..."
3,MRPSGTAGAALLALLAALCPASRALEEKKVCQGTSNKLTQLGTFED...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0..."
4,MELAALCRWGLLLALLPPGAASTQVCTGTDMKLRLPASPETHLDML...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0..."
...,...,...,...
61719,MLGTGPAAATTAATTSSNVSVLQQFASGLKSRNEETRAKAAKELQH...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0..."
62155,MVSSQKLEKPIEMGSSEPLPIADGDRRRKKKRRGRATDSLPGKFED...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0..."
64142,MRHSKRTYCPDWDDKDWDYGKWRSSSSHKRRKRSHSSAQENKRCKY...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0..."
70258,MGDTVVEPAPLKPTSEPTSGPPGNNGGSLLSVITEGVGELSVIDPE...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0..."
72313,MASDAVQSEPRSWSLLEQLGLAGADLAAPGVQQQLELERERLRREI...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0..."

Blosum

In [13]:
blosum = encode_df.get_blosum()
print(np.array(blosum['blosum'][0]).shape)
blosum

(431, 23)

,Target,One_hot_encoding,nlf,blosum,pad_seques
0,MTVKTEAAKGTLTYSRMRGMVAILIAFMKQRRMGLNDFIQKIANNS...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MTVKTEAAKGTLTYSRMRGMVAILIAFMKQRRMGLNDFIQKIANNS...
1,MSWSPSLTTQTCGAWEMKERLGTGGFGNVIRWHNQETGEQIAIKQC...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MSWSPSLTTQTCGAWEMKERLGTGGFGNVIRWHNQETGEQIAIKQC...
2,MERPPGLRPGAGGPWEMRERLGTGGFGNVCLYQHRELDLKIAIKSC...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MERPPGLRPGAGGPWEMRERLGTGGFGNVCLYQHRELDLKIAIKSC...
3,MRPSGTAGAALLALLAALCPASRALEEKKVCQGTSNKLTQLGTFED...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MRPSGTAGAALLALLAALCPASRALEEKKVCQGTSNKLTQLGTFED...
4,MELAALCRWGLLLALLPPGAASTQVCTGTDMKLRLPASPETHLDML...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MELAALCRWGLLLALLPPGAASTQVCTGTDMKLRLPASPETHLDML...
...,...,...,...,...,...
61719,MLGTGPAAATTAATTSSNVSVLQQFASGLKSRNEETRAKAAKELQH...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MLGTGPAAATTAATTSSNVSVLQQFASGLKSRNEETRAKAAKELQH...
62155,MVSSQKLEKPIEMGSSEPLPIADGDRRRKKKRRGRATDSLPGKFED...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MVSSQKLEKPIEMGSSEPLPIADGDRRRKKKRRGRATDSLPGKFED...
64142,MRHSKRTYCPDWDDKDWDYGKWRSSSSHKRRKRSHSSAQENKRCKY...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MRHSKRTYCPDWDDKDWDYGKWRSSSSHKRRKRSHSSAQENKRCKY...
70258,MGDTVVEPAPLKPTSEPTSGPPGNNGGSLLSVITEGVGELSVIDPE...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MGDTVVEPAPLKPTSEPTSGPPGNNGGSLLSVITEGVGELSVIDPE...
72313,MASDAVQSEPRSWSLLEQLGLAGADLAAPGVQQQLELERERLRREI...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MASDAVQSEPRSWSLLEQLGLAGADLAAPGVQQQLELERERLRREI...

one hot with padding - necessario? ver

In [14]:
res = encode_df.get_pad_and_hot_encoding(seq_len=300)
print(len(res.iloc[0,1])) #padded sequence
print(np.array(res.iloc[0,2]).shape) #one hot encoded sequence
res

300
(431, 18)

,Target,One_hot_encoding,nlf,blosum,pad_seques
0,MTVKTEAAKGTLTYSRMRGMVAILIAFMKQRRMGLNDFIQKIANNS...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MTVKTEAAKGTLTYSRMRGMVAILIAFMKQRRMGLNDFIQKIANNS...
1,MSWSPSLTTQTCGAWEMKERLGTGGFGNVIRWHNQETGEQIAIKQC...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MSWSPSLTTQTCGAWEMKERLGTGGFGNVIRWHNQETGEQIAIKQC...
2,MERPPGLRPGAGGPWEMRERLGTGGFGNVCLYQHRELDLKIAIKSC...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MERPPGLRPGAGGPWEMRERLGTGGFGNVCLYQHRELDLKIAIKSC...
3,MRPSGTAGAALLALLAALCPASRALEEKKVCQGTSNKLTQLGTFED...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MRPSGTAGAALLALLAALCPASRALEEKKVCQGTSNKLTQLGTFED...
4,MELAALCRWGLLLALLPPGAASTQVCTGTDMKLRLPASPETHLDML...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MELAALCRWGLLLALLPPGAASTQVCTGTDMKLRLPASPETHLDML...
...,...,...,...,...,...
61719,MLGTGPAAATTAATTSSNVSVLQQFASGLKSRNEETRAKAAKELQH...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MLGTGPAAATTAATTSSNVSVLQQFASGLKSRNEETRAKAAKELQH...
62155,MVSSQKLEKPIEMGSSEPLPIADGDRRRKKKRRGRATDSLPGKFED...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MVSSQKLEKPIEMGSSEPLPIADGDRRRKKKRRGRATDSLPGKFED...
64142,MRHSKRTYCPDWDDKDWDYGKWRSSSSHKRRKRSHSSAQENKRCKY...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MRHSKRTYCPDWDDKDWDYGKWRSSSSHKRRKRSHSSAQENKRCKY...
70258,MGDTVVEPAPLKPTSEPTSGPPGNNGGSLLSVITEGVGELSVIDPE...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MGDTVVEPAPLKPTSEPTSGPPGNNGGSLLSVITEGVGELSVIDPE...
72313,MASDAVQSEPRSWSLLEQLGLAGADLAAPGVQQQLELERERLRREI...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MASDAVQSEPRSWSLLEQLGLAGADLAAPGVQQQLELERERLRREI...

In [16]:
encode_df.result

,Target,One_hot_encoding,nlf,blosum,pad_seques
0,MTVKTEAAKGTLTYSRMRGMVAILIAFMKQRRMGLNDFIQKIANNS...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MTVKTEAAKGTLTYSRMRGMVAILIAFMKQRRMGLNDFIQKIANNS...
1,MSWSPSLTTQTCGAWEMKERLGTGGFGNVIRWHNQETGEQIAIKQC...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MSWSPSLTTQTCGAWEMKERLGTGGFGNVIRWHNQETGEQIAIKQC...
2,MERPPGLRPGAGGPWEMRERLGTGGFGNVCLYQHRELDLKIAIKSC...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MERPPGLRPGAGGPWEMRERLGTGGFGNVCLYQHRELDLKIAIKSC...
3,MRPSGTAGAALLALLAALCPASRALEEKKVCQGTSNKLTQLGTFED...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MRPSGTAGAALLALLAALCPASRALEEKKVCQGTSNKLTQLGTFED...
4,MELAALCRWGLLLALLPPGAASTQVCTGTDMKLRLPASPETHLDML...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MELAALCRWGLLLALLPPGAASTQVCTGTDMKLRLPASPETHLDML...
...,...,...,...,...,...
61719,MLGTGPAAATTAATTSSNVSVLQQFASGLKSRNEETRAKAAKELQH...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MLGTGPAAATTAATTSSNVSVLQQFASGLKSRNEETRAKAAKELQH...
62155,MVSSQKLEKPIEMGSSEPLPIADGDRRRKKKRRGRATDSLPGKFED...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MVSSQKLEKPIEMGSSEPLPIADGDRRRKKKRRGRATDSLPGKFED...
64142,MRHSKRTYCPDWDDKDWDYGKWRSSSSHKRRKRSHSSAQENKRCKY...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MRHSKRTYCPDWDDKDWDYGKWRSSSSHKRRKRSHSSAQENKRCKY...
70258,MGDTVVEPAPLKPTSEPTSGPPGNNGGSLLSVITEGVGELSVIDPE...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MGDTVVEPAPLKPTSEPTSGPPGNNGGSLLSVITEGVGELSVIDPE...
72313,MASDAVQSEPRSWSLLEQLGLAGADLAAPGVQQQLELERERLRREI...,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[1.72, 0.85, 0.34, 0.44, 0.01, 0.8, 0.16, 0.0...","[[-1, -1, -2, -3, -1, 0, -2, -3, -2, 1, 2, -1,...",MASDAVQSEPRSWSLLEQLGLAGADLAAPGVQQQLELERERLRREI...

In [17]:
encode_df.result.to_csv('protein_encoding.csv', index = False)